.login-form{
    width: 250px;
    margin: auto;
}
.formItem{
    height: 30px;
    margin-top: 20px;
}
.login-form-button{
    width: 100%;
    margin-top: 15px;
}
.ant-form-item-control{
    color: #fff;
}
.login-form-titleName{
    color: white;
}
.login-form-idenCode{
    width: 60%;
}
.login-form-idCode{
    width: 80px;
    height: 50px;
    border: 2px solid white;
    float: right;
}
.login-form-idCodePicture{
    width: 100%;
    height: 100%;
}